*, *::before, *::after {
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
  font-weight: normal;
}

.app {
  margin: 0;
  padding: 0;
  background: hsla(0, 0%, 3%, 0.602);
  }

  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }

    .calculator-grid > button {
      cursor: pointer;
      font-size: 2rem;
      border: 1px solid #494747;
      outline: none;     
    }

      .calculator-grid > button:hover {
        background-color: #666363;
      }

      .data-operation {
        background-color: rgb(155, 103, 7)
      }

      .span-two {
        grid-column: span 2;
        color: white;
        background-color: rgb(198, 145, 47)
      }

      .output{
        grid-column: 1 / -1;
        background-color: rgba(188, 186, 186, 0.75);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
      }

      .output .previous-operand{
        color: rgba(31, 30, 30, 0.75);
        font-size: 1.5rem;
      }

      .output .current-operand{
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
      }